.subir-excel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: relative; /* Necesario para que el Snackbar se posicione relativo a este contenedor */
  height: 100%; /* Asegúrate de que tenga altura suficiente */
}

.titulo-subir-excel {
  font-size: 2rem;
  font-weight: 700;
  color: #1d3557;
  margin-bottom: 2.25rem;
  text-align: center;
}

.subir-excel-card {
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.input-margin {
  margin-bottom: 20px !important;
}
.input-margin-2 {
  margin-bottom: 0px !important;
}
.file-dropzone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 35px;
  text-align: center;
  color: #888;
  cursor: pointer;
  transition: all 0.2s ease;
}

.file-dropzone:hover {
  border-color: #182c4a;
  color: #182c4a;
}

.file-preview {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px; 
  position: relative;
  text-align: center;
}

.remove-button {
  position: absolute !important;
  top: 8px;
  right: 8px;
  background-color: #47474f !important;
  color: #fff !important;
  border-radius: 50% !important;
  min-width: 32px !important;
  height: 32px !important;
  font-size: 1rem;
  padding: 0 !important;
}

.remove-button:hover {
  background-color: #ca2835 !important;
}

.icono-excel {
  width: 100px;
  margin-bottom: 8px;
}



/* Estilo para el botón */
.custom-button {
  background-color: #182c4a !important; /* Borde del botón */
  color: white; /* Color del texto */
  transition: all 0.3s ease;
  width: 143px !important;
  font-size:18px !important;
  font-weight: 600 !important;
  padding: 10px 0 !important;
  border-radius: 8px !important;
  display: block !important; /* Asegúrate de que sea un bloque */
  margin: 0 auto !important; /* Centra horizontalmente */
  margin-top: 20px !important; /* Espacio superior */
}

.custom-button:hover {
  background-color: #28497b !important; /* Color de fondo al pasar el mouse */
}

/* Estilo para los Select */


.custom-select:hover .MuiOutlinedInput-notchedOutline {
  border-color: #28497b !important; /* Cambia el color del borde al pasar el mouse */

}

.custom-select.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #28497b !important; /* Cambia el color del borde al enfocar */
}
.custom-label.Mui-focused {
  color: #27507b !important; /* Cambia el color del Label cuando el Select está enfocado */
}

.custom-select2{
  margin-bottom: -20px !important;
}
.custom-select2:hover .MuiOutlinedInput-notchedOutline {
  border-color: #28497b !important; /* Cambia el color del borde al pasar el mouse */

}
.custom-select2.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #28497b !important; /* Cambia el color del borde al enfocar */
}